* {
	margin: 0; 
 }
 
 body {
	 font-family: 'Tinos', serif;
	 background: #7622;
 }
 
 .content {
	 padding: 10px;
	 padding-bottom: 80px;
 }
 
 .title {
	 padding-left: 10%;
 }
 
 ul.hormenu li.hormenu{
	 display: inline;
	 margin: 10px 75px;
	 
 }
 
 header {
	 background-color: seagreen;
	 opacity: 80%;
 }
 
 footer {
	 background-color: seagreen;
	 opacity: 80%;
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 80px;
	 text-align: center;
 }
 
 a {
	 text-decoration: none;
	 color: #000;
	 font-weight: bold;
 }
 
 li.dropmenu {
	 display: none;
	 position: absolute;
	 top: 100%;
	 left: 0;
	 width: 100%;
	 z-index: 10;
	 -webkit-transition: 0.5s ease-in-out;
	 -moz-transition: 0.5s ease-in-out;
	 -o-transition: 0.5s ease-in-out;
	 transition: 0.5s ease-in-out;
 }
 
 ul.dropmenu:hover {
	 display: inherit;
 }
 
 a:hover {
	 
	 color: #fff;
 }
 
 .people {
	 padding: 10px;
 }
 
 img.people {
	 width: 320px;
	 height: 210px;
 }
 
 /*
 a {
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	background-color: #414b52;
	margin: 10px;
	color: #fff;
	border-radius: 3px;
 }*/
 .popup {
	 position: fixed;
	 width: 100%;
	 height: 100%;
	 background-color: rgba(0, 0, 0, 0.8);
	 top: 0;
	 left: 0;
	 opacity: 0;
	 visibility: hidden;
	 transition: all 0.3s ease 0s;
 }
 
 .popup:target {
	 visibility: visible;
	 opacity: 1;
 }
 
 .popup_body {
	 min-height: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding: 30px 10px;
 }
 
 .popup_content {
	 background-color: #fff;
	 color: #000;
	 width: 400px;
	 height: 300px;
	 max-width: 800px;
	 padding: 30px;
	 position: relative;
 }
 
 .popup_close {
	 position: absolute;
	 right: 10px;
	 top: 10px;
	 font-size: 25px;
	 color: #000;
	 text-decoration: none;
 }
 
 .popup_close:hover {
	 color: crimson;
 }
 
 .popup_title {
	 font-size: 30px;
	 margin: 0px 0px 0em 0px;
 }
 
 