<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
	{% if success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}
    <h2>Вход в личный кабинет</h2>
    <form action="/login" method="POST">
        <label for="login-username">Имя пользователя:</label><br>
        <input type="text" id="login-username" name="username"><br>
        <label for="login-password">Пароль:</label><br>
        <input type="password" id="login-password" name="password"><br><br>
        <input type="submit" value="Войти">
    </form>
    <br><br>
    <p>Нет аккаунта?<a href="/register">Зарегистрироваться</a></p>
    </form>
</body>
</html>
